<h1 class="banner">Stupid Coach</h1>
<p>---------------------------------------------------</p>
<p><%= @question %></p>
<p>You</p>
<br>
<p><%= @answer %></p>
<p>Coach</p>
<br>
<br>
<%= link_to "Ask a new question", "/ask" %>
