<h1 class="banner">Stupid Coach</h1>
<p>---------------------------------------------------</p>
<form action="/answer" method="get">
  <input type="text" name="input">
  <input type="submit" value="Ask!">
</form>
